html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 시작 */
hr {
  border: 1px solid #e1e2e3;
}
.header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 50px;
  z-index: 3;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}
.header_wrap {
  height: 50px;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header_content {
  width: 106px;
  height: 26px;
  display: flex;
  flex-direction: row;
}
.header_img1 {
  height: 14px;
  width: 17px;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 20px;
}
.header_p1 {
  margin-left: 10px;
  width: 74px;
  height: 21px;
  cursor: pointer;
  color: #171717;
  font-weight: 700;
  margin-top: 14px;
  font-size: 20px;
}
.header_ul {
  width: 533px;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.header_li {
  color: #333;
  flex-basis: auto;
  flex-shrink: 0;
  margin: 0 auto;
  font-size: 13px;
  padding: 15px 0;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.header_span {
  width: 271px;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}
.header_li2 {
  cursor: pointer;
  margin-top: 18px;
}
.header_img2 {
  width: 53%;
}
.header_li3 {
  margin-top: 18px;
  margin-left: 15px;
  font-size: 12px;
  color: #333;
  font-weight: 600;
  cursor: pointer;
}
.header_li4 {
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e1e2e3;
  margin-left: 20px;
  margin-top: 20px;
}
.header_li5 {
  font-size: 12px;
  color: #666;
  line-height: 26px;
  height: 26px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 12px;
}

/* .slideImg_img {
  border-radius: 5px;
  width: 1060px;
  height: 300px;
} */

.mainInsite {
  width: 1060px;
  margin-top: 50px;
  scroll-margin-top: 48px;
  padding: 40px 0px;
  margin: 0 auto;
}

.mainInsite_title {
  height: 30px;
  text-align: center;
  font-size: 22px;
  line-height: 1.33;
  font-weight: 700;
  color: #333;
  margin-left: 4px;
}
.mainInsite_button_start {
  left: 0;
  justify-content: flex-start;
  background: linear-gradient(90deg, #fff 10%, hsla(0, 0%, 100%, 0));
  display: flex;
  position: absolute;
  align-items: center;
  height: 34px;
  z-index: 1;
  width: 80px;
}
.mainInsite_button1 {
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #e1e2e4;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  color: #8a8a8a;
  position: relative;
  appearance: auto;
  writing-mode: horizontal-tb;
  cursor: pointer;
}
.mainInsite_button_end {
  align-items: center;
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(90deg, #fff 10%, hsla(0, 0, 0%, 100%));
  display: flex;
  position: absolute;
  width: 80px;
  height: 34px;
  z-index: 1;
  margin-right: 48px;
}
.mainInsite_cotainer {
  width: 1060px;
  display: flex;
  flex-direction: row;
  position: relative;
  grid-gap: 8px;
  gap: 8px;
}
.mainInsite_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding-bottom: 0.5px;
  grid-gap: 8px;
  gap: 8px;
  margin-top: 30px;
  width: 1012px;
}

.mainInsite_btn {
  padding: 7px 12px;
  font-size: 14px;
  line-height: 143%;
  height: 34px;
  display: flex;
  font-weight: 600;
  flex-shrink: 0;
  color: #8a8a8a;
  border-color: #e1e2e4;
  outline: none;
  scroll-snap-align: start;
  position: relative;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  box-sizing: border-box;
  border-radius: 25px;
  min-width: 64px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid gray;
}
.mainInsite_button2 {
  min-width: 40px;
  min-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e2e4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: #8a8a8a;
  background-color: #fff;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.mainInsite_aside {
  margin-left: 1080px;
  width: 150px;
  height: 189px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #e1e2e4;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainInsite_aside_div1 {
  display: flex;
  width: 62px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.mainInsite_aside_close {
  margin-left: 95px;
  font-size: 23px;
  cursor: pointer;
}
.mainInsite_aside_h2 {
  margin-bottom: 20px;
}
.mainInsite_aside_h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #171717;
  width: 100%;
}
.mainInsite_aside_p {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: #36f;
  margin-bottom: 15px;
}

.mainInsite_ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  list-style: none;
  margin-top: 30px;
  gap: 20px;
}

.mainInsite_li {
  width: 250px;
  height: 150px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}
.mainInsite_li2 {
  width: 250px;
  height: 285px;
  box-sizing: border-box;
  cursor: pointer;
}
.mainInsite_li_div {
  flex-direction: column;
  grid-gap: 4px;
  gap: 4px;
  margin-top: 12px;
  display: flex;
  padding-right: 4px;
}
.mainInsite_li_div1 {
  font-size: 18px;
  line-height: 144%;
  font-weight: 550;
}
.mainInsite_li_div2 {
  color: #8a8a8a;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.025em;
  display: -webkit-box; /* 길이가 넘어가면 ... */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.mainInsite_li_div3 {
  border-radius: 50%;
  border: 1px solid #ececec;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.mainInsite_li_span {
  font-size: 12px;
  line-height: 133%;
  overflow: hidden;
  font-weight: 400;
  color: #8a8a8a;
  padding-left: 5px;
}
.mainInsite_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1060px;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 600;
  color: #171717;
}

.mainInsite_btn2 {
  border-color: #e1e2e4;
  color: #171717;
  width: 345px;
  margin: 50px auto 0;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #8a8a8a;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border-radius: 25px;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 0 27px;
  display: inline-flex;
  font-weight: 700;
  cursor: pointer;
}

.type_button1 {
  width: 1060px;
  margin: 0 auto 60px;
  margin-top: 80px;
}
.type_button1_div1 {
  width: 100;
  cursor: pointer;
  background: #0d99ff;
  color: #fff;
  border-radius: 10px;
  padding: 28px 0 22px 120px;
  background-image: url(https://static.wanted.co.kr/images/type-test/typetest-banner-image.png);
  background-size: auto 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}
.type_button1_div2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
}
.type_button1_div3 {
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 32px;
}
.career {
  padding: 60px 0;
}
.career_div1 {
  max-width: 1060px;
  margin: 0 auto;
}
.career_div2 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  grid-gap: 8px;
  gap: 8px;
}
.career_btn1 {
  opacity: 0.7;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #e1e2e4;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.career_title {
  margin: 0 auto;
}

.career_h2 {
  text-align: center;
  line-height: 1.33;
  font-weight: 700;
  color: #333;
  font-size: 22px;
  margin-left: 4px;
  display: block;
}
.career_a {
  margin: 5px 0 0;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  vertical-align: middle;
  color: #8a8a8a;
  cursor: pointer;
  text-align: center;
}
.career_btn2 {
  cursor: pointer;
  align-items: end;
  opacity: 0.7;
  border: 1px solid #e1e2e4;
  border-radius: 50%;
  background-color: #fff;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
}
.career_wrap {
  width: 1060px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  overflow: hidden;
}
.career_item {
  width: 500px;
  height: 273px;
  cursor: pointer;
}
.career_a2 {
  color: #ff9100;
  border-color: #ff9100;
  height: 20px;
  width: 43px;
  border: 1px solid;
  border-radius: 2px;
  font-size: 11px;
  margin-top: 15px;
  font-weight: 700;
  text-align: center;
  padding: 1px;
}
.career_h3 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}
.employmentInfo {
  padding: 60px 0 80px;
  width: 1060px;
  margin: 0 auto;
}
.employmentInfo_div1 {
  margin: 0 auto;
}
.employmentInfo_h2 {
  font-size: 22px;
  line-height: 1.33;
  font-weight: 700;
  color: #333;
  text-align: center;
}
.employmentInfo_wrap {
  margin-top: 30px;
  border: 1px solid #ececec;
  border-radius: 4px;
  color: #333;
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100px;
}
.employmentInfo_item {
  padding: 18px 0 0;
  border-right: 1px solid #ececec;
  width: 25%;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.employmentInfo_icon {
  margin-top: 10px;
  cursor: pointer;
}
.employmentInfo_img {
  width: 20px;
  height: 20px;
}
.employmentInfo_div2 {
  margin-top: 20px;
  font-size: 15px;
  color: #171717;
  cursor: pointer;
  font-weight: 700;
}

.footer_wrap {
  height: 39px;
  width: 1060px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer_img1 {
  width: 60px;
  height: 39px;
  margin-top: 10px;
  cursor: pointer;
}
.footer_div1 {
  height: 17px;
  width: 71px;
  cursor: pointer;
  color: #171717;
  font-weight: 700;
  font-size: 20px;
  margin-top: 16px;
}
.footer_div2 {
  display: flex;
  flex-direction: row;
  width: 443px;
  margin: 20px;
  gap: 35px;
  margin-left: 50px;
}
.footer_p {
  font-size: 15px;
  color: #3a3a3a;
  font-weight: 500;
  cursor: pointer;
}
.footer_div3 {
  display: flex;
  flex-direction: row;
  width: 203px;
  margin-top: 20px;
  gap: 15px;
  margin-left: 210px;
  cursor: pointer;
}
.footer_wrap2 {
  width: 1060px;
  height: 86px;
  margin: 0 auto;
}
.footer_div4 {
  width: 770px;
  height: 60px;
  font-size: 12px;
  font-weight: 550;
  margin-right: 40px;
  color: #767676;
  margin-top: 20px;
  line-height: 1.5;
}
.recommendButton {
  max-width: 1060px;
  margin: 60px auto 0;
  box-sizing: border-box;
}
.recommendButton_div1 {
  box-sizing: border-box;
  width: 1056px;
  cursor: pointer;
  display: flex;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    #01a9fe -12%,
    #2f5fef 37%,
    #046afe 72%,
    #00d2dd 110%
  );
  padding: 21px 30px;
  font-size: 17px;
  border-radius: 38.5px;
  line-height: normal;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
}
.jobSelect {
  width: 1060px;
  padding-top: 100px;
  margin: 0 auto;
}
.jobSelect_div {
  display: flex;
  align-items: center;
  width: 87.72%;
  max-width: 1060px;
}
.jobSelect_span1 {
  padding-top: 3px;
  margin-right: 5px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #333;
}
.jobSelect_btn {
  margin-top: 5px;
  cursor: pointer;
  opacity: 0.7;
  border: 1px solid #e1e2e4;
  border-radius: 50%;
  background-color: #fff;
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
}
.jobSelect_span2 {
  font-size: 28px;
  line-height: 29px;
  padding: 3px 24px 0;
  color: #ececec;
}
.jobSelect_span3 {
  padding-top: 3px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #aaa;
}
.jobSelect_div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: auto;
  justify-content: left;
  margin-top: 50px;
  gap: 15px;
}
.jobSelect_btn1 {
  display: inline-flex;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 0;
  border-radius: 5px;
  border: 1px solid #ececec;
  position: relative;
  background: #fff;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
  cursor: pointer;
}
.jobSelect_btn1_span1 {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding-top: 10px;
}
.jobSelect_btn1_span2 {
  color: #36f;
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
}
.jobSelect_div3 {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 50px;
}
.jobSelect_div4 {
  width: 1060px;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 8px;
}
.jobSelect_div5 {
  display: flex;
  flex-direction: row;
  width: 1060px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  overflow: hidden;
  align-items: center;
}
.jobSelect_button_start {
  left: 0;
  justify-content: flex-start;
  background: linear-gradient(90deg, #fff 10%, hsla(0, 0%, 100%, 0));
  display: flex;
  position: absolute;
  align-items: center;
  height: 25px;
  z-index: 1;
  width: 50px;
}
.jobSelect_button1 {
  width: 32px;
  height: 32px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #e1e2e4;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  color: #8a8a8a;
  position: relative;
  cursor: pointer;
}
.jobSelect_button_end {
  align-items: center;
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(90deg, #fff 10%, hsla(0, 0, 0%, 100%));
  display: flex;
  position: absolute;
  width: 80px;
  height: 34px;
  z-index: 1;
}
.jobSelect_btn2 {
  background: rgb(242, 251, 245);
  position: relative;
  height: 32px;
  padding: 8px 14px;
  border-radius: 20px;
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #333;
  border: 1px solid transparent;
  cursor: pointer;
}
/* .jobSelect_div4 {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.jobSelect_div5 {
  width: 2960px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  position: relative;
}
.jobSelect_btn2 {
  background: rgb(242, 251, 245);
  position: relative;
  height: 32px;
  padding: 8px 14px;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #333;
  border: 1px solid transparent;
}
.jobSelect_button_start {
  left: 0;
  justify-content: flex-start;
  background: linear-gradient(90deg, #fff 10%, hsla(0, 0%, 100%, 0));
  display: flex;
  position: absolute;
  align-items: center;
  height: 25px;
  z-index: 1;
  width: 50px;
}
.jobSelect_button1 {
  width: 32px;
  height: 32px;
  font-size: 18px;
  display: inline-flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #e1e2e4;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  color: #8a8a8a;
  position: relative;
  cursor: pointer;
}
.jobSelect_button_end {
  align-items: center;
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(90deg, #fff 10%, hsla(0, 0, 0%, 100%));
  display: flex;
  position: absolute;
  width: 80px;
  height: 34px;
  z-index: 1;
  margin-right: 48px;
} */

.bookMark {
  width: 87%;
  max-width: 1060px;
  margin: 0 auto;
}

.bookMark_btn1 {
  display: flex;
  align-items: center;
  line-height: 24px;
  color: #36f;
  background-color: #fff;
  border: #fff;
  cursor: pointer;
  margin-top: 30px;
}
.bookMark_span1 {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}
.companyCard {
  width: 87%;
  max-width: 1060px;
  margin: 0 auto;
}
.companyCard_p4 {
  border: 1px solid #00aead;
  color: #00aead;
  border-radius: 2px;
  background-color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  height: 19px;
  line-height: 19px;
  margin-top: 4px;
  padding: 0 5px;
  width: 78px;
}
.companyCard_ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  list-style: none;
  margin-top: 15px;
}
.companyCard_li {
  width: 250px;
  padding: 10px;
  height: 360px;
}
.companyCard_img {
  width: 250px;
  height: 187px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.companyCard_div2 {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 4px;
}
.companyCard_h2 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-align: left;
}
.companyCard_p1 {
  color: #333;
  font-size: 14px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}
.companyCard_p2 {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.companyCard_p3 {
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  font-weight: 500;
}
.loginModal {
  position: fixed;
  border-radius: 5px;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.loginModal_content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  height: 600px;
  overflow-y: auto;
  position: relative;
}
.loginModal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}
.loginModal_h1 {
  text-align: center;
  width: 120px;
  height: 25px;
  color: #171717;
  font-weight: 700;
  font-size: 25px;
  margin: 0 auto;
}
.loginModal_div1 {
  text-align: center;
  margin-top: 60px;
}
.loginModal_h2 {
  color: #171717;
  font-weight: 700;
  font-size: 25px;
  margin: 0 auto;
  padding-top: 20px;
}
.loginModal_p {
  padding-top: 10px;
  color: #767676;
  font-size: 15px;
  font-weight: 500;
  margin: 0 auto;
}
.loginModal_div2 {
  margin: 17px 0px 7px;
}
.loginModal_span {
  text-align: left;
  color: #888;
  font-size: 15px;
}
.loginModal_input {
  width: 93%;
  height: 50px;
  min-height: 50px;
  padding: 0px 12px;
  outline: none;
  border: 1px solid #aaa;
  color: #171717;
  border-radius: 5px;
  font-size: 16px;
  font-size: 400;
  margin-top: 10px;
}
.loginModal_input:focus {
  border: 1px solid #36f;
}
.loginModal_input.invalid {
  border: 1px solid red;
}
.loginModal_email_error {
  display: none;
  color: #fe415c;
  font-size: 13px;
  text-align: left;
  font-weight: 400;
  margin-top: 3px;
}

.loginModal_button {
  color: #aaa;
  background-color: #e1e2e3;
  border: none;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.loginModal_button.active {
  background-color: #36f;
  color: #fff;
}
.loginModal_span2 {
  text-align: left;
}
.loginModal_div3 {
  text-align: center;
  color: #888;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
}
.loginModal_div4 {
  display: flex;
  flex-direction: row;
  max-width: 360;
  margin: 0 auto;
  justify-content: center;
  margin-top: 10px;
}
.loginModal_button1 {
  flex: 1;
  margin: 0;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background: none;
  cursor: pointer;
}
.loginModal_img {
  width: 54px;
  height: 54px;
}
.loginModal_p1 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #666;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}
.loginModal_div5 {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}
.loginModal_p2 {
  text-align: center;
  color: #767676;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 550;
}
.loginModal_div6 {
  margin: 30px auto 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.loginModal_p3 {
  margin-right: 12px;
  color: #767676;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.loginModal_p4 {
  margin-right: 12px;
  color: #767676;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
}
.loginModal_p5 {
  color: #888;
  text-align: center;
  font-size: 11px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.loginModal_div7 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.loginModal_div8 {
  width: 140px;
  position: relative;
}
.loginModal_img1 {
  position: absolute;
  left: 15px;
  top: 9px;
  width: 23px;
  height: 16px;
  border-radius: 2px;
  z-index: 1;
  border: 1px solid #aaa;
  overflow: clip;
}

.loginModal_div9 {
  border-radius: 5px;
  width: 100%;
  border: 1px solid #8a8a8a;
  margin-bottom: 10px;
  position: relative;
  height: 34px;
  min-height: 34px;
}
.loginModal_select {
  padding-left: 45px;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  position: absolute;
  left: 0;
  appearance: none;
  height: 100%;
  border: none;
  background: none;
  z-index: 1;
  color: #333;
  border: #aaa;
}
.loginModal_div10 {
  right: 13px;
  position: absolute;
  margin-top: 8px;
}
.joinModal {
  position: fixed;
  border-radius: 5px;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.joinModal_content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  height: 600px;
  overflow-y: auto;
  position: relative;
}
.joinModal_close {
  color: #aaaaaa;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.joinModal_h1 {
  text-align: center;
  width: 120px;
  height: 25px;
  color: #171717;
  font-weight: 700;
  font-size: 25px;
  margin: 0 auto;
}
.joinModal_div1 {
  margin: 30px 0px 7px;
}
.joinModal_span {
  text-align: left;
  color: #888;
  font-size: 15px;
  font-weight: 600;
}
.joinModal_input {
  color: #aaa;
  background-color: #ececec;
  opacity: 1;
  width: 93%;
  height: 50px;
  min-height: 50px;
  padding: 0px 12px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.joinModal_input2 {
  width: 93%;
  height: 50px;
  min-height: 50px;
  padding: 0px 12px;
  outline: none;
  border: 1px solid #aaa;
  color: #171717;
  border-radius: 5px;
  font-size: 16px;
  font-size: 400;
  margin-top: 10px;
}
.joinModal_div2 {
  height: 50px;
  min-height: 50px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
}
.joinModal_select {
  padding-left: 12px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  height: 100%;
  border: none;
  background: none;
  font-size: 16px;
  color: #171717;
  font-weight: 400;
}

.joinModal_div3 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.joinModal_input3 {
  width: 100%;
  height: 50px;
  min-height: 50px;
  padding: 0px 12px;
  border: 1px solid #aaa;
  color: #171717;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.joinModal_input3:focus,
.joinModal_input3:active {
  border: 1px solid #36f;
  outline: none;
}
.joinModal_button1 {
  border: 1px solid #e1e2e3;
  color: #aaa;
  cursor: default;
  height: 50px;
  min-height: 50px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0px 15px;
  width: auto;
  flex: 0 0 auto;
  border-radius: 5px;
  margin-left: 10px;
}
.joinModal_input:focus {
  border: 1px solid #36f;
}
.joinModal_input2:focus {
  border: 1px solid #36f;
}
.joinModal_div4 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.joinModal_p {
  text-align: left;
  color: #888;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.8;
}
.joinModal_div5 {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 25px;
  width: 100%;
  margin: 25px 0px 10px;
}

.joinModal_checkbox {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.joinModal_span3 {
  font-size: 15px;
  color: #171717;
  font-weight: 600;
  margin-left: 30px;
  margin-top: 5px;
}
.joinModal_span4 {
  font-size: 15px;
  color: #888;
  font-weight: 600;
  margin-left: 30px;
  margin-top: 5px;
}
.joinModal_div6 {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 25px;
  width: 100%;
  margin: 15px 0px 10px;
}
.joinModal_span5 {
  font-size: 15px;
  color: #767676;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 110px;
  cursor: pointer;
}
.joinModal_span6 {
  font-size: 15px;
  color: #767676;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 20px;
  cursor: pointer;
}
.joinModal_div7 {
  display: flex;
  margin-left: 28px;
  margin-top: 10px;
}
.joinModal_label {
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
.joinModal_checkbox2 {
  display: none;
}
.joinModal_span7 {
  display: flex;
  cursor: pointer;
  color: #888888;
  margin-right: 7px;
  font-size: 10px;
}
.joinModal_p1 {
  color: #888;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
}
.joinModal_div8 {
  z-index: 10;
  position: sticky;
  bottom: 0px;
}
.joinModal_div9 {
  position: absolute;
  inset: 30px 0px -20px 0px; /*top, right, bottom, left 축약 */
  background: #fff;
  z-index: -1;
}
.joinModal_button2 {
  border: none;
  color: #aaa;
  background-color: #e1e2e3;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 10px;
}
.joinModal_span8 {
  text-align: left;
  color: #aaa;
}
.employmentDetail {
  margin: 0 auto;
  max-width: 1060px;
  width: 88%;
  padding: 80px 30px 30px 30px;
}
.employmentDetail_main {
  position: relative;
}
.employmentDetailAside {
  bottom: 20px;
  position: sticky;
  width: 340px;
  top: 80px;
  margin-left: 720px;
}
.employmentDetailAside_header {
  width: 340px;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  padding: 24px 20px;
  border-radius: 3px;
}
.employmentDetailAside_p1 {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #333;
}
.employmentDetailAside_ui {
  margin: 24px 0;
  list-style: none;
  overflow: hidden;
}
.employmentDetailAside_li {
  float: left;
  width: 50%;
  text-align: left;
}
.employmentDetailAside_p2 {
  font-size: 14px;
  font-weight: 600;
  color: #999;
  margin-bottom: 8px;
  line-height: 1.2;
}
.employmentDetailAside_p3 {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}
.employmentDetailAside_btn {
  position: absolute;
  top: 20px;
  right: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #e1e2e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.employmentDetailAside_span {
  display: flex;
  color: #36f;
  font-size: 25px;
}
.employmentDetailAside_span2 {
  display: flex;
  color: #666;
  font-size: 18px;
}
.employmentDetailAside_btn2 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #36f;
  font-size: 16px;
  font-weight: 600;
  color: #36f;
  text-align: center;
  cursor: pointer;
}
.employmentDetailAside_btn3 {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #36f;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 0;
}
.employmentDetailAside_div1 {
  margin: 24px 0 0;
  height: 30px;
  display: flex;
  flex-direction: row;
}
.employmentDetailAside_btn4 {
  height: 30px;
  border-radius: 15px;
  border: 1px solid #e1e2e3;
  margin-right: 12px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  float: left;
  cursor: pointer;
  background-color: #fff;
}
.employmentDetailAside_p4 {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  position: relative;
  top: -1px;
}
.employmentDetailAside_btn5 {
  background: none;
  cursor: pointer;
  border: 1px solid #fff;
}
.employmentDetailAside_ul2 {
  padding: 2px 0;
  list-style: none;
}
.employmentDetailAside_li2 {
  z-index: 2;
  margin-left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #fff;
  float: left;
  position: relative;
  background-size: cover;
  background-image: url(https://static.wanted.co.kr/oneid-user/profile_default.png);
}
.employmentDetailAside_li3 {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #fff;
  float: left;
  position: relative;
  margin-left: -10px;
  z-index: 1;
  background-position: 50%;
  background-size: cover;
  background-image: url(https://static.wanted.co.kr/oneid-user/profile_default.png);
}

.section1 {
  margin: 0 auto;
  max-width: 1060px;
  width: 88%;
  padding: 80px 30px 30px 30px;
}
.employmentDetailImg {
  width: 700px;
  vertical-align: top;
  margin-top: -320px;
}
.employmentDetailImg_div1 {
  position: relative;
  overflow: hidden;
  display: block;
}
.employmentDetailImg_btn1 {
  left: 0;
  position: absolute;
  width: 9%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: 0;
}
.employmentDetailImg_btn2 {
  right: 0;
  position: absolute;
  width: 9%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: 0;
}
.employmentDetailImg_div2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 4px;
  height: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior: contain;
}
.employmentDetailImg_div2::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.employmentDetailImg_div2::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 10px;
}
.employmentDetailImg_div3 {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 70%;
}
.employmentDetailImg_img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  object-fit: cover;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
  vertical-align: middle;
}
.employmentDetailInfo {
  margin: 40px 0 30px;
  display: block;
}
.employmentDetailInfo_h2 {
  color: #333;
  font-size: 22px;
  font-weight: 600;
}
.employmentDetailInfo_div {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}
.employmentDetailInfo_p1 {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  display: inline-flex;
}
.employmentDetailInfo_div1 {
  display: inline-flex;
  margin-left: 10px;
  position: relative;
  width: 58px;
  height: 19px;
  white-space: nowrap;
}
.employmentDetailInfo_p2 {
  width: 58px;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  height: 19px;
  line-height: 19px;
  padding: 0 5px;
  border: 1px solid #36f;
  color: #36f;
}
.employmentDetailInfo_span1 {
  font-size: 14px;
  color: #999;
  padding-left: 10px;
  padding-top: 3px;
  font-weight: 400;
}
.employmentDetailInfo_span2 {
  font-size: 14px;
  color: #999;
  margin-left: 10px;
  font-weight: 400;
  padding-top: 4px;
}
.employmentDetailInfo_div2 {
  margin-top: 20px;
}
.employmentDetailInfo_ui {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.employmentDetailInfo_li {
  display: inline-flex;
  margin-right: 6px;
  margin-bottom: 10px;
  padding: 9px 14px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #333;
  background-color: #f3f5f8;
  border-radius: 25px;
  cursor: pointer;
}
.employmentContent {
  width: 700px;
}
.employmentContent_div1 {
  margin-bottom: 60px;
  padding-right: 20px;
  margin: 40px 0;
}
.employmentContent_p1 {
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}
.employmentContent_h6 {
  margin: 20px 0 0;
  font-weight: 600;
  color: #333;
  font-size: 16px;
  line-height: 1.75;
}
.employmentDetailStack {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.employmentDetailStack_div {
  display: inline-flex;
  background-color: #e4f4ec;
  border-radius: 20px;
  padding: 9px 14px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
}
.employmentDetailCompany {
  margin-top: 30px;
  margin: 40px 0;
  display: block;
}
.employmentDetailCompany_div1 {
  margin-bottom: 20px;
}
.employmentDetailCompany_span1 {
  color: #999;
  width: 80px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  vertical-align: text-top;
}
.employmentDetailCompany_span2 {
  color: #333;
  width: 620px;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  vertical-align: text-top;
}
.section4A {
  display: block;
  width: 700px;
  height: 100%;
  cursor: pointer;
}
.employmentDetailCompany_img {
  width: 700px;
  height: 255px;
  background-size: cover;
  background-position: 50%;
  vertical-align: middle;
}
.employmentDetailFollow {
  border-radius: 3px;
  border: 1px solid #e1e2e3;
  padding: 20px;
  display: flex;
  margin: 80px 0 0;
  flex-direction: row;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  width: 658px;
}
.employmentDetailFollow_div1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  cursor: pointer;
}
.employmentDetailFollow_logo {
  background-image: url(https://static.wanted.co.kr/images/wdes/0_5.4fc1abf9.jpg);
  background-position: 50%;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.employmentDetailFollow_p1 {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 5px;
  padding-right: 10px;
}
.employmentDetailFollow_p2 {
  color: #999;
  font-size: 15px;
  font-weight: 600;
  padding-right: 10px;
  margin-top: 15px;
}
.employmentDetailFollow_btn {
  border: 1px solid #e1e2e3;
  height: 40px;
  font-size: 15px;
  color: #36f;
  background-color: #fff;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 65px;
  padding: 0 25px;
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
}
.employmentDetailFollow_p3 {
  width: 100%;
}
.warning {
  display: block;
  width: 700px;
}
.warning_div1 {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f3f5f8;
}
.warning_div2 {
  padding: 25px 30px;
  display: flex;
  align-items: center;
}
.warning_div3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.warning_p {
  margin: 0 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  color: #333;
}
.warning_btn {
  display: flex;
  cursor: pointer;
  top: 70px;
}
.employmentCompanyCard {
  width: 87%;
  max-width: 1060px;
  margin-top: 80px;
}
.employmentCompanyCard_p {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.employmentCompanyCard_ui {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  list-style: none;
  margin-top: 30px;
}
.employmentCompanyCard_li {
  width: 250px;
  padding: 10px;
  height: 360px;
}
.employmentCompanyCard_img {
  width: 250px;
  height: 187px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.employmentCompanyCard_div1 {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 4px;
  cursor: pointer;
}
.employmentCompanyCard_p2 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-align: left;
}
.employmentCompanyCard_p3 {
  color: #333;
  font-size: 14px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  font-weight: 600;
}
.employmentCompanyCard_p4 {
  border: 1px solid #00aead;
  color: #00aead;
  border-radius: 2px;
  background-color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  height: 19px;
  line-height: 19px;
  margin-top: 4px;
  padding: 0 5px;
  width: 78px;
}
.employmentCompanyCard_p5 {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.employmentCompanyCard_p6 {
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  font-weight: 500;
}
